/* começo do css da lista */
.division-list{
    margin: 0;
    padding: 0;
}
hr{
    background-color: #C92071;
}
.link-lsp{
    color: #C92071;
    float: right;
    margin-right: 30px;
    font-size: 24px;
}
.product-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,300px 300px 300px 300px);
    gap: 20px;
    list-style: none;
    justify-content: center;
    align-content: center;
    padding-top: 50px;
}
.produtos-da-lista{
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
}
.img-list-product{
    width: 300px;
    height: 300px;
    box-shadow: 4px 4px 10px gray;
}
.bcompra{
    padding: 8px;
    border: 3px solid;
    border-color: #C92071;
    color: #C92071;
    margin-top: 10px;
    width: 140px;
    font-size: 22px;
    border-radius: 40px;
    box-shadow: 4px 4px 10px gray;
    transition: ease-in-out 0.1s;
}
.bcompra:active{
    background-color: #C92071;
    color: white;
}
.bcompra:hover{
    animation: me-compre;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}
@keyframes me-compre{
    0%{
        scale: 100%;
    }
    25%{
        scale: 120%;
    }
    50%{
        scale: 100%;
    }
    75%{
        scale: 120%;
    }
    100%{
        scale: 100%;
    }
}
/* fim do css da lista */