/* começo do css da galeria */
body{
    background-color: gray;
}
.img-g{
    width: 400px;
    height: 300px;
}
section{
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 10px;
}
.titul-div{
    justify-content: center;
    display: flex;
}
.g-titulo{
    font-size: 28px;
    padding: 0;
    color: #C92071;
    padding: 0;
    margin: 0;
    z-index: 1;
    font-weight: bold;
}
.div-sm{
    justify-content: center;
    display: flex;
}
.s-m{
    padding: 8px;
    width: 150px;
    border-radius: 30px;
    border: solid, 2px;
    background-color: #C92071;
    color: white;
}
/* animações da galeria */
#b1{
    animation: clickeme1;
    animation-timing-function: ease-in-out;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
#b2{
    animation: clickeme2;
    animation-timing-function: ease-in-out;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
#b3{
    animation: clickeme3;
    animation-timing-function: ease-in-out;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes clickeme1{
    0%{
        scale: 100%;
    }
    10%{
        scale: 130%;
    }
    20%{
        scale: 100%;
    }
    70%{
        scale: 100%;
    }
    80%{
        scale: 130%;
    }
    100%{
        scale: 100%;
    }
}
@keyframes clickeme2{
    0%{
        scale: 100%;
    }
    20%{
        scale: 100%;
    }
    30%{
        scale: 130%;
    }
    40%{
        scale: 100%;
    }
    70%{
        scale: 100%;
    }
    80%{
        scale: 130%;
    }
    100%{
        scale: 100%;
    }
}
@keyframes clickeme3{
    0%{
        scale: 100%;
    }
    40%{
        scale: 100%;
    }
    50%{
        scale: 130%;
    }
    60%{
        scale: 100px;
    }
    70%{
        scale: 100%;
    }
    80%{
        scale: 130%;
    }
    100%{
        scale: 100%;
    }
    /* fim da animaçoes da galeria */
}
/* fim da galeria */